* {
  box-sizing: border-box;
}
.contact{
    position: absolute;
    right:5px;
    top:5px;
}
.cloud:hover{
    position:relative;
    right: 300px;
    top:100px;
}
.dp{
    position:relative;
    left:310px;
}
h1{
    font-size:3.625rem;
    text-align: center;
    color: whitesmoke;
    margin-top: 0 ;
    line-height:1.5;
}
h2{
    font-size: 2.5rem;
    text-align: center;
    position:relative;
    bottom:24px;
    font-weight:normal;
}
p{
    text-align: center;
    color:brown;
    position:absolute;
    margin:100px 0 100px 0;
}
.second-cloud:hover{
    position:absoulte;
    left: 600px;
    bottom:300px;
}
.introduction {
    font-size: larger;
    background-color: #87ceeb;
    padding: 20px;
    margin:10px;
    border: solid;
    height:41%;
    width:95%;
    position:relative;
    padding:20px;
}
.thick-green-border {
    border-color: lightpink !important;
    border-width:3px;
    border-style:solid;
    border-radius: 50%;
}
a {
    font-size:100%;
    color: blue;
    text-decoration: none;
}
a:hover{
    color:red;
}
.red-text {
    color:black;
}
body {
    font-size:20px;
    font-family:'Pacifico', Arial, Helvetica, sans-serif;
    width:"200px";
    height:200vh;
    margin: 0;
}
.root{
    --main-radius:5px;
    --main-padding:5px;
}
#about {
    grid-area: about;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
    border: solid blue;
    border-radius: 25px;
}
#Languagesknown {
    grid-area: Languagesknown;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
    border: solid green;
    border-radius: 25px;
}
#Skills {
    grid-area: Skills;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
    border: solid brown;
    border-radius: 25px;
}
#AwardsandAchievements {
    grid-area: AwardsandAchievements;
    border: solid darkmagenta;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
    border-radius: 25px;
}
footer{
    grid-area: footer;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
    border-radius: 25px;
}
@media only screen and (max-width:750px) {
    .responsive{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2.9fr 1fr 1fr 1fr;
        grid-template-areas:
        "about about"
        "Languagesknown Languagesknown"
        "Skills AwardsandAchievements"
        "footer footer";
        grid-gap:0.2rem;
        width:100%;
    }
}
.responsive
{
    display:grid;
    height:100vh;
    width:100;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1.5fr 1.5fr 0.8fr;
    grid-template-areas:
        "about about Languagesknown Languagesknown"
        "Skills Skills AwardsandAchievements AwardsandAchievements"
        "footer footer footer footer ";
        grid-gap: 0.5rem;
    width:100%;
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color:black;
    border-width:11px;
    margin:50px auto;
}
.container {
    font-size:20px;
    display: grid;
    background-color:deeppink;
    position:absolute;
    top:1215px;
    height:40%;
    width:100%;
}
.instagram{
    width:100px;
    height:75px;
    position:relative;
    left:500px;
    top:70px;
}
.facebook{
    width:100px;
    height:75px;
    position:relative;
    left:650px;
    top:70px;
}
.copyright{
    position : relative;
    top:100px;
    left:550px;
}
